<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hiphone.eureka.monitor.mapper">
    <resultMap id="instanceResultMap" type="org.hiphone.eureka.monitor.entitys.ApplicationInstanceDto">
        <id column="INSTANCE_ID" property="instanceId" jdbcType="VARCHAR"/>
        <id column="CLUSTER_ID" property="clusterId" javaType="VARCHAR"/>
        <result column="APPLICATION_NAME" property="applicationName" javaType="VARCHAR"/>
        <result column="HOST_NAME" property="hostname" javaType="VARCHAR"/>
        <result column="IP_ADDRESS" property="ipAddress" javaType="VARCHAR"/>
        <result column="SERVICE_PORT" property="servicePort" javaType="INTEGER"/>
        <result column="CURRENT_STATE" property="currentState" javaType="INTEGER"/>
        <result column="REGISTER_TIME" property="registerTime" jdbcType="TIMESTAMP"/>
        <result column="DOWN_TIME" property="downTime" javaType="TIMESTAMP"/>
    </resultMap>

    <sql id="base_info">
        INSTANCE_ID, CLUSTER_ID, APPLICATION_NAME, HOST_NAME, IP_ADDRESS, SERVICE_PORT, CURRENT_STATE, REGISTER_TIME, DOWN_TIME
    </sql>

    <select id="queryInstancesByStateAndClusterId"  resultMap="instanceResultMap">
        SELECT
        <include refid="base_info"/>
        FROM eureka_instances WHERE CURRENT_STATE = #{state} and CLUSTER_ID = #{clusterId};
    </select>

    <update id="updateInstanceState">
        UPDATE eureka_instances SET CURRENT_STATE = #{state, jdbcType=INTEGER}
        WHERE CLUSTER_ID = #{instance.clusterId} and INSTANCE_ID = #{instance.instanceId}
    </update>
    
    <insert id="insertOrUpdateDownInstance" parameterType="org.hiphone.eureka.monitor.entitys.ApplicationInstanceDto">
        INSERT INTO eureka_instances
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="instanceId != null">INSTANCE_ID, </if>
            <if test="clusterId != null">CLUSTER_ID, </if>
            <if test="applicationName != null">APPLICATION_NAME, </if>
            <if test="hostname != null">HOST_NAME, </if>
            <if test="ipAddress != null">IP_ADDRESS, </if>
            <if test="servicePort != null">SERVICE_PORT, </if>
            <if test="currentState != null">CURRENT_STATE, </if>
            <if test="registerTime != null">REGISTER_TIME, </if>
            <if test="downTime != null">DOWN_TIME, </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="instanceId != null">#{instanceId, jdbcType=VARCHAR}, </if>
            <if test="clusterId != null">#{clusterId, jdbcType=VARCHAR}, </if>
            <if test="applicationName != null">#{applicationName, jdbcType=VARCHAR}, </if>
            <if test="hostname != null">#{hostname, jdbcType=VARCHAR}, </if>
            <if test="ipAddress != null">#{ipAddress, jdbcType=VARCHAR}, </if>
            <if test="servicePort != null">#{servicePort, jdbcType=INTEGER}, </if>
            <if test="currentState != null">#{currentState, jdbcType=INTEGER}, </if>
            <if test="registerTime != null">#{registerTime, jdbcType=TIMESTAMP}, </if>
            <if test="downTime != null">#{downTime, jdbcType=TIMESTAMP}, </if>
        </trim>
        ON DUPLICATE KEY UPDATE CURRENT_STATE = #{currentState, jdbcType=INTEGER}
    </insert>

</mapper>