<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hiphone.eureka.monitor.mapper.EurekaInstanceMapper">
    <resultMap id="instanceResultMap" type="org.hiphone.eureka.monitor.entitys.ApplicationInstanceDto">
        <id column="INSTANCE_ID" property="instanceId" jdbcType="VARCHAR"/>
        <result column="CLUSTER_ID" property="clusterId" jdbcType="VARCHAR"/>
        <result column="APPLICATION_NAME" property="applicationName" jdbcType="VARCHAR"/>
        <result column="HOST_NAME" property="hostname" jdbcType="VARCHAR"/>
        <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR"/>
        <result column="SERVICE_PORT" property="servicePort" jdbcType="INTEGER"/>
        <result column="CURRENT_STATE" property="currentState" jdbcType="INTEGER"/>
        <result column="REGISTER_TIME" property="registerTime" jdbcType="TIMESTAMP"/>
        <result column="DOWN_TIME" property="downTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="base_info">
        INSTANCE_ID, CLUSTER_ID, APPLICATION_NAME, HOST_NAME, IP_ADDRESS, SERVICE_PORT, CURRENT_STATE, REGISTER_TIME, DOWN_TIME
    </sql>

    <select id="queryInstancesByStateAndClusterId"  resultMap="instanceResultMap">
        SELECT
        <include refid="base_info"/>
        FROM eureka_instances WHERE CURRENT_STATE = #{state} and CLUSTER_ID = #{clusterId};
    </select>

    <update id="updateInstanceState">
        UPDATE eureka_instances SET CURRENT_STATE = #{state, jdbcType=INTEGER}
        WHERE CLUSTER_ID = #{instance.clusterId} and INSTANCE_ID = #{instance.instanceId}
    </update>
    
    <insert id="insertOrUpdateDownInstance" parameterType="org.hiphone.eureka.monitor.entitys.ApplicationInstanceDto">
        INSERT INTO eureka_instances
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="instance.instanceId != null">INSTANCE_ID, </if>
            <if test="instance.clusterId != null">CLUSTER_ID, </if>
            <if test="instance.applicationName != null">APPLICATION_NAME, </if>
            <if test="instance.hostname != null">HOST_NAME, </if>
            <if test="instance.ipAddress != null">IP_ADDRESS, </if>
            <if test="instance.servicePort != null">SERVICE_PORT, </if>
            <if test="instance.currentState != null">CURRENT_STATE, </if>
            <if test="instance.registerTime != null">REGISTER_TIME, </if>
            <if test="instance.downTime != null">DOWN_TIME, </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="instance.instanceId != null">#{instance.instanceId, jdbcType=VARCHAR}, </if>
            <if test="instance.clusterId != null">#{instance.clusterId, jdbcType=VARCHAR}, </if>
            <if test="instance.applicationName != null">#{instance.applicationName, jdbcType=VARCHAR}, </if>
            <if test="instance.hostname != null">#{instance.hostname, jdbcType=VARCHAR}, </if>
            <if test="instance.ipAddress != null">#{instance.ipAddress, jdbcType=VARCHAR}, </if>
            <if test="instance.servicePort != null">#{instance.servicePort, jdbcType=INTEGER}, </if>
            <if test="instance.currentState != null">#{instance.currentState, jdbcType=INTEGER}, </if>
            <if test="instance.registerTime != null">#{instance.registerTime, jdbcType=TIMESTAMP}, </if>
            <if test="instance.downTime != null">#{instance.downTime, jdbcType=TIMESTAMP}, </if>
        </trim>
        ON DUPLICATE KEY UPDATE CURRENT_STATE = #{instance.currentState, jdbcType=INTEGER}
        ,REGISTER_TIME = #{instance.registerTime, jdbcType=TIMESTAMP}
        <if test="instance.downTime != null">
        , DOWN_TIME = #{instance.downTime, jdbcType=TIMESTAMP}
        </if>
    </insert>

</mapper>