<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hiphone.eureka.monitor.mapper.InstanceHistoryMapper">
    <resultMap id="historyResultMap" type="org.hiphone.eureka.monitor.entitys.ApplicationHistoryDto">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="CLUSTER_ID" property="clusterId" jdbcType="VARCHAR"/>
        <result column="APPLICATION_NAME" property="applicationName" jdbcType="VARCHAR"/>
        <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="INTEGER"/>
        <result column="LOG_TIME" property="logTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="base_info">
        ID, CLUSTER_ID, APPLICATION_NAME, IP_ADDRESS, STATE, LOG_TIME
    </sql>
    
    <select id="queryInstanceHistoryByPageAndLimit"  resultMap="historyResultMap">
        SELECT 
        <include refid="base_info"/>
        FROM eureka_historys ORDER BY ID LIMIT #{page, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER}
    </select>

    <insert id="insertInstanceHistory" parameterType="org.hiphone.eureka.monitor.entitys.ApplicationHistoryDto">
        INSERT INTO eureka_historys
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="history.clusterId != null">CLUSTER_ID, </if>
            <if test="history.applicationName != null">APPLICATION_NAME, </if>
            <if test="history.ipAddress != null">IP_ADDRESS,</if>
            <if test="history.state != null">STATE,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="history.clusterId != null">#{history.clusterId, jdbcType=VARCHAR}, </if>
            <if test="history.applicationName != null">#{history.applicationName, jdbcType=VARCHAR}, </if>
            <if test="history.ipAddress != null">#{history.ipAddress, jdbcType=VARCHAR}, </if>
            <if test="history.state != null">#{history.state, jdbcType=INTEGER},</if>
        </trim>
    </insert>

</mapper>
