<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hiphone.swagger.center.mapper.UserMapper">
    <resultMap id="userResultMap" type="org.hiphone.swagger.center.entitys.UserDto">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="ROLE" property="role" jdbcType="INTEGER"/>
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="login_info">
        id, LOGIN_NAME, PASSWORD, ROLE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME
    </sql>

    <select id="getUserByLoginName" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT
        <include refid="login_info"/>
        FROM user_account WHERE LOGIN_NAME = #{loginName, jdbcType=VARCHAR}
    </select>
</mapper>